AzureDataFactory/Pipelines/PL_Notebook/PL_Notebook.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name"
        },
        "LS_DataBricks": {
            "type": "string"
        },
        "LS_ADL2_Params": {
            "type": "string"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_Notebook')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "LU_Params",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "JsonSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "JsonReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_ADL2_PipelineParams_JSON",
                                "type": "DatasetReference",
                                "parameters": {
                                    "STR_Filename": {
                                        "value": "@concat(pipeline().TriggerName,'.json')",
                                        "type": "Expression"
                                    }
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "FE_Notebooks",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "LU_Params",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('LU_Params').output.value",
                                "type": "Expression"
                            },
                            "isSequential": false,
                            "activities": [
                                {
                                    "name": "NB_Databricks",
                                    "type": "DatabricksNotebook",
                                    "dependsOn": [],
                                    "policy": {
                                        "timeout": "7.00:00:00",
                                        "retry": 0,
                                        "retryIntervalInSeconds": 30,
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "notebookPath": {
                                            "value": "@item().NOTEBOOK_PATH",
                                            "type": "Expression"
                                        }
                                    },
                                    "linkedServiceName": {
                                        "referenceName": "[parameters('LS_DataBricks')]",
                                        "type": "LinkedServiceReference"
                                    }
                                }
                            ]
                        }
                    }
                ],
                "annotations": [],
                "lastPublishTime": "2020-12-15T22:41:55Z"
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/datasets/DS_ADL2_PipelineParams_JSON')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/DS_ADL2_PipelineParams_JSON')]",
            "type": "Microsoft.DataFactory/factories/datasets",
            "apiVersion": "2018-06-01",
            "properties": {
                "linkedServiceName": {
                    "referenceName": "[parameters('LS_ADL2_Params')]",
                    "type": "LinkedServiceReference"
                },
                "parameters": {
                    "STR_Filename": {
                        "type": "string",
                        "defaultValue": "PipelineParams.json"
                    }
                },
                "annotations": [],
                "type": "Json",
                "typeProperties": {
                    "location": {
                        "type": "AzureBlobFSLocation",
                        "fileName": {
                            "value": "@dataset().STR_Filename",
                            "type": "Expression"
                        },
                        "folderPath": "customer1",
                        "fileSystem": "adfparams"
                    }
                },
                "schema": {
                    "type": "object",
                    "properties": {
                        "SOURCE_TABLE_NAME": {
                            "type": "string"
                        },
                        "TARGET_FILE_PREFIX": {
                            "type": "string"
                        },
                        "TARGET_DIRECTORY": {
                            "type": "string"
                        },
                        "WHERE": {
                            "type": "string"
                        },
                        "Column_List": {
                            "type": "string"
                        }
                    }
                }
            },
            "dependsOn": []
        }
    ]
}