AzureDataFactory/Pipelines/PL_SQL_To_ADL2_KV/PL_SQL_To_ADL2_KV.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_ADL2_Params":{"type":"string"},"LS_SQLDB_KV":{"type":"string"},"LS_ADL2":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_SQL_To_ADL2_KV')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"LU_Params","type":"Lookup","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"JsonSource","storeSettings":{"type":"AzureBlobFSReadSettings","recursive":true,"enablePartitionDiscovery":false},"formatSettings":{"type":"JsonReadSettings"}},"dataset":{"referenceName":"DS_ADL2_PipelineParams_JSON","type":"DatasetReference","parameters":{"STR_Filename":{"value":"@concat(pipeline().TriggerName,'.json')","type":"Expression"}}},"firstRowOnly":false}},{"name":"FE_SQL_To_ADL2","type":"ForEach","dependsOn":[{"activity":"LU_Params","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"items":{"value":"@activity('LU_Params').output.value","type":"Expression"},"activities":[{"name":"CO_SQL2ADL","type":"Copy","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"AzureSqlSource","queryTimeout":"02:00:00","partitionOption":"None"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_SQLDB_KV","type":"DatasetReference","parameters":{"STR_SCHEMANAME":{"value":"@item().SOURCE_SCHEMA_NAME","type":"Expression"},"STR_TABLENAME":{"value":"@item().SOURCE_TABLE_NAME","type":"Expression"},"STR_SECRETNAME":{"value":"@item().SECRET_NAME","type":"Expression"}}}],"outputs":[{"referenceName":"DS_ADL2_Parquet_Directional","type":"DatasetReference","parameters":{"STR_Directory":{"value":"@item().TARGET_DIRECTORY","type":"Expression"},"STR_Filename":{"value":"@concat(item().TARGET_FILE_PREFIX,'_',utcnow('yyyyMMdd'),'_000000.parquet')","type":"Expression"},"STR_Container":{"value":"@item().TARGET_CONTAINER","type":"Expression"}}}]}]}}],"annotations":[],"lastPublishTime":"2020-12-15T03:52:22Z"},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_ADL2_PipelineParams_JSON')]","[concat(variables('factoryId'), '/datasets/DS_SQLDB_KV')]","[concat(variables('factoryId'), '/datasets/DS_ADL2_Parquet_Directional')]"]},{"name":"[concat(parameters('factoryName'), '/DS_ADL2_PipelineParams_JSON')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADL2_Params')]","type":"LinkedServiceReference"},"parameters":{"STR_Filename":{"type":"string","defaultValue":"PipelineParams.json"}},"annotations":[],"type":"Json","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().STR_Filename","type":"Expression"},"folderPath":"customer1","fileSystem":"adfparams"}},"schema":{"type":"object","properties":{"SOURCE_TABLE_NAME":{"type":"string"},"TARGET_FILE_PREFIX":{"type":"string"},"TARGET_DIRECTORY":{"type":"string"},"WHERE":{"type":"string"},"Column_List":{"type":"string"}}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_SQLDB_KV')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_SQLDB_KV')]","type":"LinkedServiceReference","parameters":{"STR_SecretName":{"value":"@dataset().STR_SECRETNAME","type":"Expression"}}},"parameters":{"STR_SCHEMANAME":{"type":"string"},"STR_TABLENAME":{"type":"string"},"STR_SECRETNAME":{"type":"string"}},"annotations":[],"type":"AzureSqlTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().STR_SCHEMANAME","type":"Expression"},"table":{"value":"@dataset().STR_TABLENAME","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_ADL2_Parquet_Directional')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADL2')]","type":"LinkedServiceReference"},"parameters":{"STR_Directory":{"type":"string"},"STR_Filename":{"type":"string"},"STR_Container":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().STR_Filename","type":"Expression"},"folderPath":{"value":"@dataset().STR_Directory","type":"Expression"},"fileSystem":{"value":"@dataset().STR_Container","type":"Expression"}},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]}]}